<!DOCTYPE html>
<html>

<head>
  <title>{{ title }}</title>
  <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
  <div class="header">
    <a href="/"><img class="logo rotate" src="/images/projectiq_noshadow.png"></a>
    <div class="smallWrapper">
      <div class="menu">
        <table>
          <tr>
            <td>
              <a class="menuEntry slideDown" href="/about/" id="idAbout">About us</a>
            </td>
            <td>
              <a class="menuEntry slideDown" href="/contact/" id="idContact">Contact</a>
            </td>
            <td>
              <a class="menuEntry slideDown" href="/user/login/" id="login">Login</a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <table class="textTable sldideUp">
    <tr>
      <td>
        <div class="welcomeMessage">
          <h2>{{ title }}</h2>
        </div>
      </td>
    </tr>
    <tr>
      <td>
      <p>Please contact the administrator by this email adress: </p>
        <p class="">Email: fredde665@gmail.com</p>
      </td>
    </tr>
  </table>
</body>
<footer class="footer">Copyright by Fredrik</footer>

</html>